<?xml version="1.0" encoding="utf-8"?>

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ahmedaziz.android.popularmoviesapp">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.ahmedaziz.android.popularmoviesapp.MovieListActivity"
            android:label="@string/title_movie_list"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.ahmedaziz.android.popularmoviesapp.details.MovieDetailActivity"
            android:label="@string/title_movie_detail"
            android:parentActivityName="com.ahmedaziz.android.popularmoviesapp.MovieListActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ahmedaziz.android.popularmoviesapp.MovieListActivity" />
        </activity>

        <provider
            android:name="com.ahmedaziz.android.popularmoviesapp.data.MoviesProvider"
            android:authorities="com.ahmedaziz.android.popularmoviesapp" />
    </application>
</manifest>